<template>
   <div>
      <div v-if="currentLevel === 0">
         <h1><el-icon><Guide /></el-icon>{{ mindTestTitle }}</h1>
         <el-button type="primary" @click="gameStart()" round>시작하기</el-button>
      </div>
      <div v-else-if="currentLevel === 1">
         <h2>{{ mindTestTitle }}</h2>
         <h3>Q{{ answerList[0].question }}</h3>
         <button
             v-for="(item, index) in answerList[0].answers"
             @click="nextLevel(index)">
            A{{ index + 1 }}.{{ item.answer }}
         </button>
      </div>
      <div v-else-if="currentLevel === 2">
         <h2>{{ mindTestTitle }}</h2>
         <h3>Q{{ answerList[1].question }}</h3>
         <button
             v-for="(item, index) in answerList[1].answers"
             @click="nextLevel(index)">
            A{{ index + 1 }}.{{ item.answer }}
         </button>
      </div>
      <div v-else-if="currentLevel === 3">
         <h2>{{ mindTestTitle }}</h2>
         <h3>Q{{ answerList[2].question }}</h3>
         <button
             v-for="(item, index) in answerList[2].answers"
             @click="nextLevel(index)">
            A{{ index + 1 }}.{{ item.answer }}
         </button>
      </div>
      <div v-else-if="currentLevel === 4">
         <h2>{{ mindTestTitle }}</h2>
         <h3>Q{{ answerList[3].question }}</h3>
         <button
             v-for="(item, index) in answerList[3].answers"
             @click="nextLevel(index)">
            A{{ index + 1 }}.{{ item.answer }}
         </button>
      </div>
      <div v-else-if="currentLevel === 5">
         <h2>{{ mindTestTitle }}</h2>
         <h3>Q{{ answerList[4].question }}</h3>
         <button
             v-for="(item, index) in answerList[4].answers"
             @click="nextLevel(index)">
            A{{ index + 1 }}.{{ item.answer }}
         </button>
      </div>
      <div v-else-if="currentLevel === 6">
         <h2>{{ mindTestTitle }}</h2>
         <h3>{{ resultRankName }}</h3>
         <h4>{{ resultRankValue }}점</h4>
         <div>{{ resultExplanation }}</div>
         <div><button @click="gameReset()">다시하기</button></div>
      </div>
   </div>
</template>

<script>
export default {
   data() {
      return {
         mindTestTitle: '나는 어떤 사람일까?',
         currentLevel: 0,
         answer1Value: null,
         answer2Value: null,
         answer3Value: null,
         answer4Value: null,
         answer5Value: null,
         resultRankValue: 0,
         resultRankName: null,
         resultExplanation: null,
         rankList: [
            {
               rankValueMin: 0,
               rankValueMax: 15,
               rankName: '상냥도 레벨 최하',
               rankExplanation: '당신은 사이코패스입니다.'
            },
            {
               rankValueMin: 16,
               rankValueMax: 30,
               rankName: '상냥도 레벨 중',
               rankExplanation: '당신은 그냥 사람입니다.'
            },
            {
               rankValueMin: 31,
               rankValueMax: 40,
               rankName: '상냥도 레벨 상',
               rankExplanation: '당신은 좋은 사람입니다.'
            },
            {
               rankValueMin: 41,
               rankValueMax: 50,
               rankName: '상냥도 레벨 최상',
               rankExplanation: '당신은 천사입니다.'
            },
         ],
         answerList: [
            {
               question: '1. 길을 걷다가 잘못하여 무언가 밟을 뻔했어요. 과연 무엇이었을까요?',
               answers: [
                  {answer: '바나나 껍질', rankValue: 10},
                  {answer: '돌', rankValue: 7},
                  {answer: '강아지', rankValue: 0},
                  {answer: '장난감', rankValue: 5}
               ]
            },
            {
               question: '2. 맛있는 분식집을 다시 찾아갔어요. 맛은 좋았지만 다시는 가고 싶지 않아요. 왜 그럴까요?',
               answers: [
                  {answer: '메뉴가 너무 적어서', rankValue: 0},
                  {answer: '오래 기다려야 해서', rankValue: 5},
                  {answer: '주인이 친절하지 않아서', rankValue: 8},
                  {answer: '이제부터는 건강식으로 먹으려고', rankValue: 10}
               ]
            },
            {
               question: '3. 좋아하는 이성친구의 생일이에요. 어떻게 선물을 고를까요?',
               answers: [
                  {answer: '내가 주고 싶은 물건', rankValue: 10},
                  {answer: '둘이 고른 물건', rankValue: 10},
                  {answer: '돈에 맞춰 고르라 한다', rankValue: 10},
                  {answer: '아무것도 주지 않는다', rankValue: 0}
               ]
            },
            {
               question: '4. 친구가 휴지를 줬습니다. 당신은 휴지를 어떻게 했나요?',
               answers: [
                  {answer: '세심하게 접는다', rankValue: 10},
                  {answer: '잘게 찢는다', rankValue: 0},
                  {answer: '접는다', rankValue: 5},
                  {answer: '구겨버린다', rankValue: 2}
               ]
            },
            {
               question: '5. 당신이 사고로 일주일 밖에 못 산다는 이야기를 들었어요. 어떤 반응을 보일까요?',
               answers: [
                  {answer: '일주일이라도 좋다', rankValue: 3},
                  {answer: '죽을 거라니 절망이네', rankValue: 5},
                  {answer: '일주일동안 뭘 하겠어', rankValue: 2},
                  {answer: '일주일이라도 잘 보내자', rankValue: 10}
               ]
            }
         ]
      }
   },
   methods: {
      gameStart() {
         this.currentLevel = 1
      },
      nextLevel(answerIndex) {
         if (this.currentLevel === 1) {
            this.answer1Value = answerIndex
         } else if (this.currentLevel === 2) {
            this.answer2Value = answerIndex
         } else if (this.currentLevel === 3) {
            this.answer3Value = answerIndex
         } else if (this.currentLevel === 4) {
            this.answer4Value = answerIndex
         } else if (this.currentLevel === 5) {
            this.answer5Value = answerIndex
            this.calculateResult()
         }

         this.currentLevel = this.currentLevel + 1
      },
      calculateResult() {
         console.log("--1")
         this.resultRankValue = this.answerList[0].answers[this.answer1Value].rankValue
         this.resultRankValue += this.answerList[1].answers[this.answer2Value].rankValue
         this.resultRankValue += this.answerList[2].answers[this.answer3Value].rankValue
         this.resultRankValue += this.answerList[3].answers[this.answer4Value].rankValue
         this.resultRankValue += this.answerList[4].answers[this.answer5Value].rankValue
         console.log("--2")
         for (let i = 0; i < this.rankList.length; i++) {
            if (this.rankList[i].rankValueMin <= this.resultRankValue && this.rankList[i].rankValueMax >= this.resultRankValue) {
               this.resultRankName = this.rankList[i].rankName
               this.resultExplanation = this.rankList[i].rankExplanation
            }
         }
         console.log("--3")
      },
      gameReset() {
         this.currentLevel = 0
         this.answer1Value = null
         this.answer2Value = null
         this.answer3Value = null
         this.answer4Value = null
         this.answer5Value = null
         this.resultRankValue = 0
         this.resultRankName = null
         this.resultExplanation = null
      }
   }
}
</script>